* {
    box-sizing: border-box;
    background-image: url(https://res.cloudinary.com/alsmith94/image/upload/v1591963847/black-radial-gradient-bb05ed79_mkkrnj.jpg);
    background-size: cover;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    background-color: black;
  }


  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    border-color: firebrick;
    border-right:  1px solid firebrick;
    font-size: medium;
  }
  
    footer {
      max-width: 60%;
      opacity: 90%;
      background-color: #070505;
      padding: 25px;
      background: #302F35;  
      color: aquamarine;  
    }

    h1 {
      
      font-family: 'Francois One', sans-serif;
      max-width: 120%;
      letter-spacing: 2px;
      outline-color: lightsalmon;
      color: azure;
    }

    .contact {
      text-decoration: none;
    }

    #me {
      padding-top: 15%;
      max-width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #image {
      max-width: 100%;
      height: auto;
    }
   
    #about-me {
      text-align: center;
      color: rgb(52, 211, 153);
      font-size: 35px;
      padding-bottom: 100px;
    }

    h3 {
      font-size: 50px;
    }

    .jumbotron {
      background-color: black;
    }
   
    .intro {
      font-size: 20px;
      color: lightcoral;
    }

    .card-title {
      color: rgb(231, 201, 27);
      max-width: 100%;
      border-bottom: blue;
    }

    .mbr-text {
      color: oldlace;
      margin: 30px;
    }

    li {
      font-weight: 500;
    }

    .container-fluid > .skills {
      text-align: center;
      justify-self: center;
      justify-content: center;
      align-items: center;
      align-content: space-between;
      padding: 40px;
    }

    .submit {
      padding: 10px;
      margin: 10px;
      padding-block-end: 10px;
    }

    #languages {
      color: darkviolet;
      font-size: 50px;
      text-align: center;
      justify-self: center;
    }