* {
    box-sizing: border-box;
    color: #90AFC5;
  }
  
  body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2A3132;
  }


  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    border-color: firebrick;
    font-size: medium;
  }
  
  footer {
      max-width: 60%;
      opacity: 90%;
      background-color: #070505;
      padding: 25px;
      background: #302F35;  
      color: aquamarine;  
    }

    h1 {
      font-family: 'Francois One', sans-serif;
      max-width: 120%;
      letter-spacing: 2px;
      color: #4F42BC;

    }

    .contact {
      text-decoration: none;
    }

    
    #my_centered_buttons { 
      display: flex; 
      justify-content: center; 
      padding: 30px;
    }


    #me {
      padding-top: 10%;
      max-width: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #dblclick {
      color: #336B87;
    }

    #image {
      max-width: 100%;
      height: auto;
    }
   
    #about-me {
      text-align: center;
      color: #90AFC5;
      font-size: 35px;
      padding-bottom: 100px;
    }

    .card-box {
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .jumbotron {
      background-color: black;
    }
   
    .intro {
      font-size: 20px;
      color: #D18B83;
    }

    .card-title {
      color: rgb(231, 201, 27);
      max-width: 100%;
    }

    .mbr-text {
      color: oldlace;
      margin: 30px;
    }

    li {
      font-weight: 500;
    }

    .container-fluid > .skills {
      text-align: center;
      align-content: space-between;
      padding: 40px;
    }

    .btn {
      padding: 10px;
      margin: 10px;
      padding-block-end: 10px;
    }

    #languages {
      color: #5689A0;
      font-size: 50px;
      text-align: center;
      justify-self: center;
    }

    #contactme {
      font-size: 30px;
      font-weight: 700;
      color: rgb(191, 116, 119);
    }

   